section {
  margin-bottom: 3rem;
}

.main {
  margin-top: 3rem;
}

.tagify {
  margin: 1rem 0;
}

#controls.noedit > .edit {
  display: none;
}

#controls:not(.noedit) > .noedit {
  display: none;
}

#deets td {
  white-space: nowrap;
}

#deets tr.local {
  font-weight: bold;
}

#deets tr.remote {
  color: #999;
}
