section {
  margin-bottom: 3rem;
}

.main {
  margin-top: 3rem;
}

.tagify {
  margin: 1rem 0;
}

#controls.noedit > .edit {
  display: none;
}

#controls:not(.noedit) > .noedit {
  display: none;
}

#link {
  color: inherit;
  text-decoration: inherit;
}

#link[href]:after {
  content: "\01f517";
  font-size: 2rem;
  margin: 0 0 1rem 1rem;
}

#deets td {
  white-space: nowrap;
}

#deets tr.local {
  font-weight: bold;
}

#deets tr.remote {
  color: #999;
}
